{% extends "../../settings-layout.njk" %}

{% set settingsPageTitle = "Check your answers" %}

{% block settingsContent %}
  <h1 class="govuk-heading-l">{{ settingsPageTitle }}</h1>

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Service director’s personal details"
        },
        actions: {
          items: [
            {
              href: detailsLink,
              text: "Change",
              visuallyHiddenText: "service director's personal details",
              attributes: { 'data-cy' : 'edit-director-details'}
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            html: currentSession.firstName,
            attributes: {
            data-cy: "first-name-row"
          }
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            html: currentSession.lastName,
            attributes: {
            data-cy: "last-name-row"
          }
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: dateOfBirth | govukDate,
            attributes: {
            data-cy: "dob-row"
          },
          },
          }
        {
          key: {
            text: "Work email address"
          },
          value: {
            html: currentSession.email,
            attributes: {
            data-cy: "email-row"
          }
          }

        }
      ]
    })
  }}

  {{
    govukSummaryList({
      card: {
        title: {
          text: "Service director’s address"
        },
        actions: {
          items: [
            {
              href: addressLink,
              text: "Change",
              visuallyHiddenText: "service director's address",
              attributes: { 'data-cy' : 'edit-director-address'}
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Address line 1"
          },
          value: {
            html: currentSession.addressLine1,
            attributes: {
            data-cy: "address-1-row"
          }
          }
        },
        {
          key: {
            text: "Address line 2"
          },
          value: {
            html: currentSession.addressLine2,
            attributes: {
            data-cy: "address-2-row"
          }
          }
        } if hasAddressLine2,
        {
          key: {
            text: "Town or city"
          },
          value: {
            html: currentSession.addressCity,
            attributes: {
            data-cy: "town-city-row"
          }
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            html: currentSession.addressPostcode,
            attributes: {
            data-cy: "postcode-row"
          }
          },
        }
      ]
    })
  }}

  <form id="service-director-check-your-answers-form" method="post" class="govuk-!-margin-top-4" novalidate>
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}" />

    {{
      govukButton({
        text: "Continue",
        id: "service-director-confirm"
      })
    }}
  </form>
{% endblock %}
